{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <div class="login-form">
        <h1>Авторизация</h1>
        {% if form.errors %}
            <p>
                Неправильный логин и пароль.
                Пожалуйста, попробуйте еще раз.
            </p>
        {% else %}
            <p>Пожалуйста, используйте следующую форму для входа:</p>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Войти"></p>
            <p><a href="{% url 'register' %}">Нету аккаунта? Зарегистрируйся</a></p>
            <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>

        </form>
    </div>
{% endblock %}